Creare un dataFrame

In [1]:
import pandas as pd

dati={'Nome':['Luca','Sara','Marco'],
      'Età':[25,30,22],
      'Città':['Roma','Torino','Napoli']}
df=pd.DataFrame(dati)
print(df)
print("-"*50)
print("{:.2f}".format(df['Età'].mean()))

    Nome  Età   Città
0   Luca   25    Roma
1   Sara   30  Torino
2  Marco   22  Napoli
--------------------------------------------------
25.67

Accedere ai dati

In [2]:
print(df['Nome'])  #stampa tutti i dati della colonna nome

0     Luca
1     Sara
2    Marco
Name: Nome, dtype: object

In [3]:
print(df.iloc[0]) #stampa la riga di indice 0, trasponendo righe e colonne
print(df)

Nome     Luca
Età        25
Città    Roma
Name: 0, dtype: object
    Nome  Età   Città
0   Luca   25    Roma
1   Sara   30  Torino
2  Marco   22  Napoli

In [52]:
#stampa il dato che si trova nell'indice di riga i e nel campo etichettato
print(df.loc[1,'Città'])

Torino

IMPORTARE UN FILE CSV

In [4]:
df = pd.read_csv('sample_data/studenti.csv')
df.head()

   ID    Nome  Età   Città        Corso  Voto  Assenze
0   1    Luca   22    Roma  Informatica    28        2
1   2    Sara   23  Milano   Matematica    30        0
2   3   Marco   21  Torino  Informatica    18        6
3   4    Anna   24  Napoli       Fisica    25        1
4   5  Giulia   22    Roma   Matematica    27        2

In [54]:
# Visualizziamo le prime righe
print(df.head())

   ID    Nome  Età   Città        Corso  Voto  Assenze
0   1    Luca   22    Roma  Informatica    28        2
1   2    Sara   23  Milano   Matematica    30        0
2   3   Marco   21  Torino  Informatica    18        6
3   4    Anna   24  Napoli       Fisica    25        1
4   5  Giulia   22    Roma   Matematica    27        2

In [5]:
print(df)
df.describe()

   ID    Nome  Età   Città        Corso  Voto  Assenze
0   1    Luca   22    Roma  Informatica    28        2
1   2    Sara   23  Milano   Matematica    30        0
2   3   Marco   21  Torino  Informatica    18        6
3   4    Anna   24  Napoli       Fisica    25        1
4   5  Giulia   22    Roma   Matematica    27        2
5   6   Paolo   23  Torino  Informatica    20        4
6   7   Elena   25  Milano       Fisica    29        0
7   8  Davide   21  Napoli  Informatica    22        5

            ID        Età       Voto   Assenze
count  8.00000   8.000000   8.000000  8.000000
mean   4.50000  22.625000  24.875000  2.500000
std    2.44949   1.407886   4.421942  2.267787
min    1.00000  21.000000  18.000000  0.000000
25%    2.75000  21.750000  21.500000  0.750000
50%    4.50000  22.500000  26.000000  2.000000
75%    6.25000  23.250000  28.250000  4.250000
max    8.00000  25.000000  30.000000  6.000000

In [56]:
# Alcune esplorazioni
print(df.info())       # Tipo di dati e conteggio

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       8 non-null      int64
 1   Nome     8 non-null      object
 2   Età      8 non-null      int64
 3   Città    8 non-null      object
 4   Corso    8 non-null      object
 5   Voto     8 non-null      int64
 6   Assenze  8 non-null      int64
dtypes: int64(4), object(3)
memory usage: 580.0+ bytes
None

Statistiche base (media, min, max,quartili)
Come sono distribuiti i dati
Dove si concentra la maggior parte dei valori
Se ci sono valori anomali (outlier)

In [57]:
print(df.describe())

            ID        Età       Voto   Assenze
count  8.00000   8.000000   8.000000  8.000000
mean   4.50000  22.625000  24.875000  2.500000
std    2.44949   1.407886   4.421942  2.267787
min    1.00000  21.000000  18.000000  0.000000
25%    2.75000  21.750000  21.500000  0.750000
50%    4.50000  22.500000  26.000000  2.000000
75%    6.25000  23.250000  28.250000  4.250000
max    8.00000  25.000000  30.000000  6.000000

In [58]:
print(df['Città'].value_counts())  # Frequenza per città

Città
Roma      2
Milano    2
Torino    2
Napoli    2
Name: count, dtype: int64

In [59]:
df.groupby('Città')['Età'].mean()  #età media per città

Città
Milano    24.0
Napoli    22.5
Roma      22.0
Torino    22.0
Name: Età, dtype: float64

In [60]:
#aggiungo una colonna alla tabella
df['Voto_norm'] = df['Voto']/100
print(df)
#print(df['Voto_norm'])
#in X seleziono la coppia di colonne
#X = df[['Età','Voto_norm']]
#print(X)

   ID    Nome  Età   Città        Corso  Voto  Assenze  Voto_norm
0   1    Luca   22    Roma  Informatica    28        2       0.28
1   2    Sara   23  Milano   Matematica    30        0       0.30
2   3   Marco   21  Torino  Informatica    18        6       0.18
3   4    Anna   24  Napoli       Fisica    25        1       0.25
4   5  Giulia   22    Roma   Matematica    27        2       0.27
5   6   Paolo   23  Torino  Informatica    20        4       0.20
6   7   Elena   25  Milano       Fisica    29        0       0.29
7   8  Davide   21  Napoli  Informatica    22        5       0.22

Esempio di caricamento file

In [61]:
esempioDF=pd.read_csv('sample_data/california_housing_test.csv')
print(esempioDF)
print(esempioDF.describe())

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]
         longitude    latitude  housing_median_age   total_rooms  \
count  3000.000000  3000.00000         3000.000000   3000.000000
mean   -119.589200    35.63539           28.845333   2599.578667
std       1.994936     2.12967           12.555396   2155.593332
min    -124.180000    32.56000            1.000000      6.000000
25%    -121.810000    33.93000           18.000000   1401.000000
50%    -118.485000    34.27000           29.000000   2106.000000
75%    -118.020000    37.69000           37.000000   3129.000000
max    -114.490000    41.92000           52.000000  30450.000000

       total_bedrooms    population  households  median_income  \
count     3000.000000   3000.000000  3000.00000    3000.000000
mean       529.950667   1402.798667   489.91200       3.807272
std        415.654368   1030.543012   365.42271       1.854512
min          2.000000      5.000000     2.00000       0.499900
25%        291.000000    780.000000   273.00000       2.544000
50%        437.000000   1155.000000   409.50000       3.487150
75%        636.000000   1742.750000   597.25000       4.656475
max       5419.000000  11935.000000  4930.00000      15.000100

       median_house_value
count          3000.00000
mean         205846.27500
std          113119.68747
min           22500.00000
25%          121200.00000
50%          177650.00000
75%          263975.00000
max          500001.00000

# Filtro e pulizia dei dati

In [62]:
dn = pd.read_csv('sample_data/studentiMancanti.csv')
print(dn)

   ID    Nome   Età   Città        Corso  Voto  Assenze
0   1    Luca  22.0    Roma  Informatica    28        2
1   2     NaN  23.0  Milano   Matematica    30        0
2   3   Marco  21.0  Torino  Informatica    18        6
3   4    Anna   NaN  Napoli       Fisica    25        1
4   5  Giulia  22.0    Roma   Matematica    27        2
5   6   Paolo  23.0  Torino  Informatica    20        4
6   7   Elena  25.0  Milano       Fisica    29        0
7   8  Davide   NaN  Napoli  Informatica    22        5

Se voglio eliminare le righe che contengono dati mancanti

In [63]:
print(dn.dropna()) #se metto inplace=True modifica il dataframe originale
print("-"*50)
print(dn)

   ID    Nome   Età   Città        Corso  Voto  Assenze
0   1    Luca  22.0    Roma  Informatica    28        2
2   3   Marco  21.0  Torino  Informatica    18        6
4   5  Giulia  22.0    Roma   Matematica    27        2
5   6   Paolo  23.0  Torino  Informatica    20        4
6   7   Elena  25.0  Milano       Fisica    29        0
--------------------------------------------------
   ID    Nome   Età   Città        Corso  Voto  Assenze
0   1    Luca  22.0    Roma  Informatica    28        2
1   2     NaN  23.0  Milano   Matematica    30        0
2   3   Marco  21.0  Torino  Informatica    18        6
3   4    Anna   NaN  Napoli       Fisica    25        1
4   5  Giulia  22.0    Roma   Matematica    27        2
5   6   Paolo  23.0  Torino  Informatica    20        4
6   7   Elena  25.0  Milano       Fisica    29        0
7   8  Davide   NaN  Napoli  Informatica    22        5

In [64]:
# il data frame non viene modificato dai metodi,
#se si vuole modificare un dataframe bisogna crearne uno nuovo
dn_pulita=dn.dropna()
print(dn_pulita)
print('-'*30)
print(dn)

   ID    Nome   Età   Città        Corso  Voto  Assenze
0   1    Luca  22.0    Roma  Informatica    28        2
2   3   Marco  21.0  Torino  Informatica    18        6
4   5  Giulia  22.0    Roma   Matematica    27        2
5   6   Paolo  23.0  Torino  Informatica    20        4
6   7   Elena  25.0  Milano       Fisica    29        0
------------------------------
   ID    Nome   Età   Città        Corso  Voto  Assenze
0   1    Luca  22.0    Roma  Informatica    28        2
1   2     NaN  23.0  Milano   Matematica    30        0
2   3   Marco  21.0  Torino  Informatica    18        6
3   4    Anna   NaN  Napoli       Fisica    25        1
4   5  Giulia  22.0    Roma   Matematica    27        2
5   6   Paolo  23.0  Torino  Informatica    20        4
6   7   Elena  25.0  Milano       Fisica    29        0
7   8  Davide   NaN  Napoli  Informatica    22        5

Se voglio trasporre la tabella

In [65]:
print(dn.T)

                   0           1            2       3           4  \
ID                 1           2            3       4           5
Nome            Luca         NaN        Marco    Anna      Giulia
Età             22.0        23.0         21.0     NaN        22.0
Città           Roma      Milano       Torino  Napoli        Roma
Corso    Informatica  Matematica  Informatica  Fisica  Matematica
Voto              28          30           18      25          27
Assenze            2           0            6       1           2

                   5       6            7
ID                 6       7            8
Nome           Paolo   Elena       Davide
Età             23.0    25.0          NaN
Città         Torino  Milano       Napoli
Corso    Informatica  Fisica  Informatica
Voto              20      29           22
Assenze            4       0            5

Per sostituire NaN con 0

In [66]:
print(dn.fillna(0))
print('-'*50)
print(dn)

   ID    Nome   Età   Città        Corso  Voto  Assenze
0   1    Luca  22.0    Roma  Informatica    28        2
1   2       0  23.0  Milano   Matematica    30        0
2   3   Marco  21.0  Torino  Informatica    18        6
3   4    Anna   0.0  Napoli       Fisica    25        1
4   5  Giulia  22.0    Roma   Matematica    27        2
5   6   Paolo  23.0  Torino  Informatica    20        4
6   7   Elena  25.0  Milano       Fisica    29        0
7   8  Davide   0.0  Napoli  Informatica    22        5
--------------------------------------------------
   ID    Nome   Età   Città        Corso  Voto  Assenze
0   1    Luca  22.0    Roma  Informatica    28        2
1   2     NaN  23.0  Milano   Matematica    30        0
2   3   Marco  21.0  Torino  Informatica    18        6
3   4    Anna   NaN  Napoli       Fisica    25        1
4   5  Giulia  22.0    Roma   Matematica    27        2
5   6   Paolo  23.0  Torino  Informatica    20        4
6   7   Elena  25.0  Milano       Fisica    29        0
7   8  Davide   NaN  Napoli  Informatica    22        5

Per sostituire Nan con valori particolari es: con 'mancante' o con la media delle età

In [67]:
print(dn.fillna({'Nome': 'mancante', 'Età': df['Età'].mean()}))

   ID      Nome     Età   Città        Corso  Voto  Assenze
0   1      Luca  22.000    Roma  Informatica    28        2
1   2  mancante  23.000  Milano   Matematica    30        0
2   3     Marco  21.000  Torino  Informatica    18        6
3   4      Anna  22.625  Napoli       Fisica    25        1
4   5    Giulia  22.000    Roma   Matematica    27        2
5   6     Paolo  23.000  Torino  Informatica    20        4
6   7     Elena  25.000  Milano       Fisica    29        0
7   8    Davide  22.625  Napoli  Informatica    22        5

Modificare e creare colonne

In [68]:
print(df)
df['Adulto'] = (df['Età'] >= 25)
print('-'*50)
print(df)

   ID    Nome  Età   Città        Corso  Voto  Assenze  Voto_norm
0   1    Luca   22    Roma  Informatica    28        2       0.28
1   2    Sara   23  Milano   Matematica    30        0       0.30
2   3   Marco   21  Torino  Informatica    18        6       0.18
3   4    Anna   24  Napoli       Fisica    25        1       0.25
4   5  Giulia   22    Roma   Matematica    27        2       0.27
5   6   Paolo   23  Torino  Informatica    20        4       0.20
6   7   Elena   25  Milano       Fisica    29        0       0.29
7   8  Davide   21  Napoli  Informatica    22        5       0.22
--------------------------------------------------
   ID    Nome  Età   Città        Corso  Voto  Assenze  Voto_norm  Adulto
0   1    Luca   22    Roma  Informatica    28        2       0.28   False
1   2    Sara   23  Milano   Matematica    30        0       0.30   False
2   3   Marco   21  Torino  Informatica    18        6       0.18   False
3   4    Anna   24  Napoli       Fisica    25        1       0.25   False
4   5  Giulia   22    Roma   Matematica    27        2       0.27   False
5   6   Paolo   23  Torino  Informatica    20        4       0.20   False
6   7   Elena   25  Milano       Fisica    29        0       0.29    True
7   8  Davide   21  Napoli  Informatica    22        5       0.22   False

In [69]:
print(dn_pulita)
#dn_pulita['Età+1'] = dn_pulita['Età'] + 1
dn_pulita['Adulto'] = dn_pulita['Età'] >= 22
print('-'*50)
print(dn_pulita)

   ID    Nome   Età   Città        Corso  Voto  Assenze
0   1    Luca  22.0    Roma  Informatica    28        2
2   3   Marco  21.0  Torino  Informatica    18        6
4   5  Giulia  22.0    Roma   Matematica    27        2
5   6   Paolo  23.0  Torino  Informatica    20        4
6   7   Elena  25.0  Milano       Fisica    29        0
--------------------------------------------------
   ID    Nome   Età   Città        Corso  Voto  Assenze  Adulto
0   1    Luca  22.0    Roma  Informatica    28        2    True
2   3   Marco  21.0  Torino  Informatica    18        6   False
4   5  Giulia  22.0    Roma   Matematica    27        2    True
5   6   Paolo  23.0  Torino  Informatica    20        4    True
6   7   Elena  25.0  Milano       Fisica    29        0    True

/tmp/ipython-input-3968382724.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dn_pulita['Adulto'] = dn_pulita['Età'] >= 22

duplicazione di un data frame

In [70]:
dn_pcopy = dn_pulita.copy()
dn_pcopy['Adulto'] = dn_pcopy['Età'] >= 23
print(dn_pcopy)
print('-'*50)
print(dn_pulita)

   ID    Nome   Età   Città        Corso  Voto  Assenze  Adulto
0   1    Luca  22.0    Roma  Informatica    28        2   False
2   3   Marco  21.0  Torino  Informatica    18        6   False
4   5  Giulia  22.0    Roma   Matematica    27        2   False
5   6   Paolo  23.0  Torino  Informatica    20        4    True
6   7   Elena  25.0  Milano       Fisica    29        0    True
--------------------------------------------------
   ID    Nome   Età   Città        Corso  Voto  Assenze  Adulto
0   1    Luca  22.0    Roma  Informatica    28        2    True
2   3   Marco  21.0  Torino  Informatica    18        6   False
4   5  Giulia  22.0    Roma   Matematica    27        2    True
5   6   Paolo  23.0  Torino  Informatica    20        4    True
6   7   Elena  25.0  Milano       Fisica    29        0    True

In [71]:
print(dn_pcopy)

   ID    Nome   Età   Città        Corso  Voto  Assenze  Adulto
0   1    Luca  22.0    Roma  Informatica    28        2   False
2   3   Marco  21.0  Torino  Informatica    18        6   False
4   5  Giulia  22.0    Roma   Matematica    27        2   False
5   6   Paolo  23.0  Torino  Informatica    20        4    True
6   7   Elena  25.0  Milano       Fisica    29        0    True

In [72]:
#SE VOGLIAMO RINOMINARE UNA COLONNA
df.rename(columns={'Età': 'Eta'}, inplace=True)
print(df)

   ID    Nome  Eta   Città        Corso  Voto  Assenze  Voto_norm  Adulto
0   1    Luca   22    Roma  Informatica    28        2       0.28   False
1   2    Sara   23  Milano   Matematica    30        0       0.30   False
2   3   Marco   21  Torino  Informatica    18        6       0.18   False
3   4    Anna   24  Napoli       Fisica    25        1       0.25   False
4   5  Giulia   22    Roma   Matematica    27        2       0.27   False
5   6   Paolo   23  Torino  Informatica    20        4       0.20   False
6   7   Elena   25  Milano       Fisica    29        0       0.29    True
7   8  Davide   21  Napoli  Informatica    22        5       0.22   False

In [76]:
#SE VOGLIAMO ELIMINARE UNA COLONNA
#inplace=True modifica il dataFrame
#per default implace=False
df.drop(columns=['Voto_norm'], inplace=True)
#df=df.drop(columns=['Voto_norm'])
print(df)

AttributeError: 'NoneType' object has no attribute 'drop'

ORDINAMENTO E INDICIZZAZIONE DI DATAFRAMES

In [74]:
df.sort_values('Eta', ascending=False)

AttributeError: 'NoneType' object has no attribute 'sort_values'

In [ ]:
print(df.reset_index(drop=True, inplace=True))

MERGE DI DATAFRAMES

In [ ]:
df1 = pd.DataFrame({'ID': [1,2], 'Nome': ['Luca','Sara']})
df2 = pd.DataFrame({'ID': [1,2], 'Voto': [90,85]})
print(df1)
print('-'*50)
print(df2)

In [ ]:
print(pd.merge(df1, df2, on='ID'))

In [75]:
pd.concat([df1, df2], axis=0)

   ID  Nome  Voto
0   1  Luca   NaN
1   2  Sara   NaN
0   1   NaN  90.0
1   2   NaN  85.0